<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aplicaciones Híbridas - Velozo Alan - Parcial 1</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        
        <div class="banner">
            <h1>APLICACIONES HÍBRIDAS - Parcial 1</h1>
        </div>

        <main>
            <div class="container">
                <h2 class="text-heading">¿En qué consiste este sitio?</h2>
            
                <div class="p1">
                    <div class="p1-content">
                        <p>Bienvenidos a mi API REST, la cual está casi en su totalidad pensada y programada desde el backend, y a través de la cual los usuarios podrán realizar diversas peticiones mediante herramientas como Postman para acceder a una gran base de datos la cual alberga una gran variedad de información referente a videojuegos.</p>
                    </div>
                    <div class="image">
                        <img alt="Jefe Maestro" src="img/halo.jpg">
                        <img alt="Orco de la Horda y soldado de la Alianza luchando" src="img/orcoYsoldado.jpg">
                    </div>
                </div>
        
                <div class="p2">
                    <div class="p2-content">
                        <p>En este sitio podrás acceder a un amplio catálogo de videojuegos, pudiendo acceder no solo a información del propio juego en sí (como su precio, géneros, plataformas en los que está disponible, etc.), sino también también a información de sus empresas desarrolladoras.</p>
                    </div>
                    <div class="image">
                        <img alt="Ser de Ceniza avivando una hoguera" src="img/dark-souls.jpg">
                        <img alt="Link escalando una montaña" src="img/link.jpg">
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <ul>
                <li><span>Materia:</span> Aplicaciones híbridas</li>
                <li><span>Alumno:</span> Alan Gabriel Velozo</li>
                <li><span>Docente:</span> Camila Belén</li>
                <li><span>Comisión:</span> DWN4AV</li>
                <li><span>Año:</span> 2024</li>
            </ul>
        </footer>
        
    </body>
</html>